<div class="container">
  <table class="table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let data of updatedData; index as i">
      <td>{{data.firstName}}</td>
      <td>{{data.lastName}}</td>
      <td>{{data.city}}</td>
      <td><button class="btn btn-sm btn-info" (click)="edit(i)">Edit</button></td>
      <td><button class="btn btn-sm btn-info" (click)="delete(i)">Delete</button></td>
    </tr>
  </table>
  <button class="btn btn-lg btn-primary" (click)="addUser()">Add User</button>
  <button class="btn btn-dark btn-lg"><a class="text-light" routerLink="/">logout</a></button>
  <button class="btn btn-success btn-sm" (click)="json()">Generate Json</button>
  <div *ngIf="showJson">
    <h4 class="text-warning">
      {{updatedData | json}}
    </h4>
  </div>
  <div *ngIf="showForm">
    <app-addedit [user]="obj" [flag]="flag" (newItemEvent)="addItem($event)" (newItemEvent)="addRow($event)">
    </app-addedit>
  </div>
</div>
