<div class="container">
  <form [formGroup]="addEditForm" (ngSubmit)="postTable();">
    <div class="form-row">
      <div class="form-group col-4">
        <label for="inputfirstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" id="inputfirstName">
      </div>
      <div class="form-group col-4">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" id="inputLastName">
      </div>
      <div class="form-group col-4">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" formControlName="city" id="inputCity">
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
