<div class="container border">
  <h1>Fill this Form below</h1>
  <form [formGroup]="exampleForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label>Example select</label>
      <select class="form-control" formControlName="exampleSelect">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label>Example Textarea</label>
      <textarea class="form-control" rows="3" formControlName="textArea"></textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="check">
      <label class="form-check-label">Check me out</label>
    </div>
    <div class="form-group">
      <label>Example file input</label>
      <input type="file" class="form-control-file" formControlName="file">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!exampleForm.valid">Submit</button>
  </form>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Selected Option</th>
      <th>Example Text</th>
      <th>IsChecked</th>
    </tr>
    <tr *ngFor="let data of exampleData">
      <td>{{data.title | uppercase}}</td>
      <td>{{data.selectedData}}</td>
      <td>{{data.textArea}}</td>
      <td>{{data.isChecked}}</td>
    </tr>
  </table>
</div>
