<div class="container">
  <div style="margin: 30px">
    <h1 class="ion-text-center">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="Login();">
      <div class="form-group">
        <input class="form-control" formControlName="email" type="text" placeholder="Enter Email" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) &&
    (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <input class="form-control" formControlName="password" type="password" placeholder="Enter Password" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <button class="form-control btn btn-primary" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
