<button (click)="interval()">Interval</button>

<button (click)="take()">take</button>

<button (click)="pipe()">Pipe</button>

<button (click)="filter()">filter</button>


<button (click)="catchError()">catchError</button>

<button (click)="retry()">retry</button>

