<h3>Novel List</h3>
<ng-container *ngIf="items.length; else elseTemplate">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items;">
      {{item}}
    </li>
  </ul>

</ng-container>
<ng-template #elseTemplate>
  <div class="alert alert-danger" role="alert">
    No Novel Found!
  </div>
</ng-template>
