<div class="container">
  <div>
    <h3>Add New Admin</h3>
    <button class="btn btn-md btn-info"><a routerLink="/dashboard/adminprofile">Add</a></button>
  </div>
  <h3>List of Admins</h3>
  <table class="table">
    <tr>
      <th>Email Id</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr *ngFor="let user of userData">
      <td>{{user.emailid}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td><button (click)="edit()" class="btn btn-sm btn-warning">Edit</button></td>
      <td><button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></td>
    </tr>
  </table>
</div>
