<div class="container border bg-info text-light">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-5">Lets Learn String Manipulation</h1>
    </div>
  </div>

  <h3>String Methods</h3><br>
  <ol>
    <li class="text-warning">String Length</li>
    <code>var txt = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";<br>
        var len = txt.length;
    </code>
    <h5 class="text-dark">Output: {{len}}</h5>
    <li class="text-warning">Finding a String in a String</li>
    <code>var str = "Please locate where 'locate' occurs!";<br>
      var pos = str.indexOf("locate");</code>
    <h5 class="text-dark">Output: {{pos}}</h5>
    <li class="text-warning">Searching for a String in a String</li>
    <code>var str = "Please locate where 'locate' occurs!";<br>
      var pos = str.search("locate");</code>
    <h5 class="text-dark">Output: {{pos1}}</h5>
    <li class="text-warning">The slice() Method</li>
    <code>var str = "Apple, Banana, Kiwi";<br>
      var res = str.slice(7, 13);</code>
    <h5 class="text-dark">Output: {{res}}</h5>
    <li class="text-warning">The substring() Method</li>
    <code>var str = "Apple, Banana, Kiwi";<br>
      var res = str.substring(7, 13);</code>
    <h5 class="text-dark">Output: {{res1}}</h5>
    <li class="text-warning">The substr() Method</li>
    <code>var str = "Apple, Banana, Kiwi";<br>
      var res = str.substr(7, 6);</code>
    <h5 class="text-dark">Output: {{res2}}</h5>
    <li class="text-warning">Replacing String Content</li>
    <code>var str = "Please visit Microsoft!";<br>
      var n = str.replace("Microsoft", "Google");</code>
    <h5 class="text-dark">Output: {{n}}</h5>
    <li class="text-warning">Converting to Upper Case</li>
    <code>var text1 = "Hello World!";<br>
      var text2 = text1.toUpperCase();</code>
    <h5 class="text-dark">Output: {{text2}}</h5>
    <li class="text-warning">Converting to Lower Case</li>
    <code>var text1 = "Hello World!";<br>
      var text2 = text1.toLowerCase();</code>
    <h5 class="text-dark">Output: {{text3}}</h5>
    <li class="text-warning">The concat() Method</li>
    <code>var t1 = "Hello";<br>
      var t2 = "World";<br>
      var t3 = t1.concat(" ", t2);</code>
    <h5 class="text-dark">Output: {{t3}}</h5>
    <li class="text-warning">The String.trim() Method</li>
    <code>var str = "       Hello World!        ";<br>
      var res = str.trim();</code>
    <h5 class="text-dark">Output: {{res3}}</h5>
    <li class="text-warning">The charAt() Method</li>
    <code>var str = "HELLO WORLD";<br>
      str.charAt(0);</code>
    <h5 class="text-dark">Output: {{res3.charAt(0)}}</h5>
    <li class="text-warning">The charCodeAt() Method</li>
    <code>var str = "HELLO WORLD";<br>
      str.charAt(0);</code>
    <h5 class="text-dark">Output: {{res3.charCodeAt(0)}}</h5>
    <li class="text-warning">Converting a String to an Array</li>
    <code>var txt = "a,b,c,d,e";<br>
      txt.split("|"); </code>
    <h5 class="text-dark">Output: {{txt1.split("|")}}</h5>
  </ol>
  <h3>Array Methods</h3><br>
  <ol>
    <li class="text-warning">Converting Arrays to Strings By array.toString()</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
        fruits.toString();
      </code>
    <h5 class="text-dark">Output: {{fruits.toString()}}</h5>
    <li class="text-warning">Converting Arrays to Strings By array.join()</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      fruits.join(" * ");
      </code>
    <h5 class="text-dark">Output: {{fruits.join(" * ")}}</h5>
    <li class="text-warning">Popping using array.pop()</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      fruits.pop();
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
    <li class="text-warning">Pushing using array.push()</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      fruits.push("Kiwi");
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
    <li class="text-warning">Shifting using array.shift()</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      fruits.shift();
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
    <li class="text-warning">Unshifting using array.unshift()</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      fruits.unshift("Lemon");
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
    <li class="text-warning">Deleting Elements using delete</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      delete fruits[0];
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
    <li class="text-warning">Splicing an Array</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      fruits.splice(2, 0, "Lemon", "Kiwi");
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
    <li class="text-warning">Using splice() to Remove Elements</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      fruits.splice(0, 1);
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
    <li class="text-warning">Slicing an Array</li>
    <code>var fruits = ["Banana", "Orange", "Apple", "Mango"];<br>
      var citrus = fruits.slice(1);
      </code>
    <h5 class="text-dark">Output: {{fruits}}</h5>
  </ol>
  <button class="btn btn-secondary btn-danger"><a class="text-light" routerLink="/dashboard">Feeling bored Go to
      Dashboard</a></button>
</div>
