<div class="container">
  <h1 *ngFor="let message of messages">{{message}}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">Last Name</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tr *ngFor="let user of userList">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.City}}</td>
    </tr>
  </table>
  <button class="btn btn-info btn-primary btn-lg" (click)=addNewUser()>Add New User</button>
  <div *ngIf="createU" class="text-warning">User created successfully</div>
  <button class="btn btn-info btn-primary btn-lg" (click)="updateUser(3)">Update id 3</button>
  <div *ngIf="updateU" class="text-warning">User updated successfully</div>
  <button class="btn btn-info btn-primary btn-lg" (click)="deleteUser(3)">delete id 3</button>
  <div *ngIf="deleteU" class="text-warning">User deleted successfully</div>
  <button class="btn btn-info btn-lg"><a class="text-light" routerLink="/dashboard">Return To dashboard</a></button>
</div>
