<div class="container">
  <h1>Fill the Profile Form Below</h1>
  <form [formGroup]="profileForm" (ngSubmit)="postProfile();">
    <div class="form-group">
      <label for="inputfullName">Full Name</label>
      <input type="text" class="form-control" formControlName="fullName" id="inputfullName">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" formControlName="email" id="inputEmail4" placeholder="Email">
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message" *ngIf="profileForm.get('email').hasError(error.type) &&
      (profileForm.get('email').dirty || profileForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" formControlName="password" id="inputPassword4"
          placeholder="Password">
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message"
            *ngIf="profileForm.get('password').hasError(error.type) && (profileForm.get('password').dirty || profileForm.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" formControlName="city" id="inputCity">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit Profile</button>
    <button type="submit" class="btn btn-primary" routerLink="/dashboard">Back to Dashboard</button>
  </form>
</div>
