<div class="jumbotron text-center">
  <h1 class="display-4">Welcome To Dashboard</h1>
  <button class="btn btn-primary btn-lg btn-light"><a class="text-dark" routerLink="/dashboard/profile">Go To
      Profile</a></button>
  <button class="btn btn-primary btn-lg btn-info"><a class="text-dark" routerLink="/dashboard/crud">Implement CRUD using
      proxy server</a></button>
  <button class="btn btn-primary btn-lg btn-dark ml"><a class="text-light"
      (click)="logout()">Logout</a></button><br><br>
  <button class="btn btn-primary btn-lg btn-info ml"><a class="text-light"
      routerLink="/dashboard/learn-array-string">Learn Array and String Manipulation</a></button><br><br>
  <button class="btn btn-primary btn-lg btn-info"><a routerLink="/dashboard/rxjs">Learn about Rxjs</a></button><br><br>
  <button class="btn btn-primary btn-lg btn-info"><a class="text-light" routerLink="/dashboard/crudWithSession">Crud
      with session</a></button><br><br>
  <button class="btn btn-primary btn-warning" (click)="sendMessage()">Send Message to Crud Component</button>
  <button class="btn btn-primary btn-warning" (click)="clearMessages()">Clear Messages</button><br><br>
  <div *ngIf="showmsg" class="bg-info">
    <h3 class="text-warning">Message from Dashboard Component to Crud Component</h3>
  </div>
  <button class="btn btn-success btn-lg"><a class="text-dark" routerLink="/dashboard/exampleForm">Example
      Form</a></button>
  <div>
    <h1>Pipe Example </h1>
    <h4>Square of 4 = {{4 | custom}}</h4>
  </div>
  <div>
    <button><a routerLink="/dashboard/usercrud">User Crud</a></button>
  </div>
</div>
