<div class="container">
  <h1 class="display-4">Add Novel In your Reading List</h1>
  <form [formGroup]="">
    <div class="form-group">
      <label for="inputNovelName">Add a Novel: </label>
      <input type="text" #newItem class="form-control" id="inputNovelName">
    </div>
    <button class="btn btn-primary" (click)="addNewItem(newItem.value)">Add Novels</button>
  </form><br>
  <app-novel-list [items]="items"></app-novel-list>
</div>
